In [1]:
# importing all libraries
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,BatchNormalization
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
#!wget https://tinyurl.com/ydyogx3a

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
data=pd.read_csv('/content/drive/MyDrive/diabetes.csv')

In [5]:
data.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [6]:
data.tail(5)

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [7]:
data.shape

(768, 9)

In [8]:
data.info

<bound method DataFrame.info of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [9]:
# separating the dataset
x=data.iloc[:,:-1]
y=data.iloc[::,-1]

In [10]:
x

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [11]:
x.shape

(768, 8)

In [12]:
y.shape

(768,)

In [13]:
#splitting into train and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [21]:
#defining type of model
model=Sequential()

In [22]:
model.add(Dense(32,activation='relu',input_shape=[8,]))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(64,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(64,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [23]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                288
_________________________________________________________________
batch_normalization_2 (Batch (None, 32)                128
_________________________________________________________________
dropout_2 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_5 (Dense)              (None, 64)                2112
_________________________________________________________________
batch_normalization_3 (Batch (None, 64)                256
_________________________________________________________________
dropout_3 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_6 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 65
=================================================================
Total params: 7,009
Trainable params: 6,817
Non-trainable params: 192
_________________________________________________________________

In [24]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [25]:
x_train.shape

(614, 8)

In [26]:
y_train.shape

(614,)

In [27]:
history=model.fit(x_train,y_train,batch_size=64,epochs=20)

Epoch 1/20
10/10 [==============================] - 1s 2ms/step - loss: 0.6873 - accuracy: 0.6153
Epoch 2/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5781 - accuracy: 0.6945
Epoch 3/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5450 - accuracy: 0.7079
Epoch 4/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5362 - accuracy: 0.7327
Epoch 5/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5495 - accuracy: 0.7232
Epoch 6/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5401 - accuracy: 0.6999
Epoch 7/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5335 - accuracy: 0.7059
Epoch 8/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5671 - accuracy: 0.7015
Epoch 9/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4922 - accuracy: 0.7432
Epoch 10/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5294 - accuracy: 0.7175
Epoch 11/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5016 - accuracy: 0.7421
Epoch 12/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5068 - accuracy: 0.7471
Epoch 13/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5018 - accuracy: 0.7594
Epoch 14/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5390 - accuracy: 0.7437
Epoch 15/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4805 - accuracy: 0.7654
Epoch 16/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4924 - accuracy: 0.7496
Epoch 17/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4898 - accuracy: 0.7595
Epoch 18/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5093 - accuracy: 0.7601
Epoch 19/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5179 - accuracy: 0.7446
Epoch 20/20
10/10 [==============================] - 0s 3ms/step - loss: 0.4813 - accuracy: 0.7872