In [46]:
# importing all libraries
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,BatchNormalization
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [47]:
from google.colab import files
uploaded=files.upload()

Saving diabetes.csv to diabetes (1).csv

In [48]:
data=pd.read_csv('diabetes.csv')

In [49]:
data.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1
5            5      116             74  ...                     0.201   30        0
6            3       78             50  ...                     0.248   26        1
7           10      115              0  ...                     0.134   29        0
8            2      197             70  ...                     0.158   53        1
9            8      125             96  ...                     0.232   54        1

[10 rows x 9 columns]

In [50]:
data.tail(5)

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [51]:
data.shape

(768, 9)

In [52]:
data.info

<bound method DataFrame.info of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [53]:
x=data.iloc[:,:-1]
y=data.iloc[::,-1]

In [54]:
x

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [55]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [56]:
x.shape

(768, 8)

In [57]:
y.shape

(768,)

In [58]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [59]:
model=Sequential()

In [60]:
model.add(Dense(32,activation='relu',input_shape=[8,]))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(64,activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.2))
model.add(Dense(64,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [61]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_13 (Dense)             (None, 32)                288
_________________________________________________________________
batch_normalization_6 (Batch (None, 32)                128
_________________________________________________________________
dropout_6 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_14 (Dense)             (None, 64)                2112
_________________________________________________________________
batch_normalization_7 (Batch (None, 64)                256
_________________________________________________________________
dropout_7 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_15 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_16 (Dense)             (None, 1)                 65
=================================================================
Total params: 7,009
Trainable params: 6,817
Non-trainable params: 192
_________________________________________________________________

In [62]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [63]:
x_train.shape

(614, 8)

In [64]:
y_train.shape

(614,)

In [65]:
history=model.fit(x_train,y_train,batch_size=64,epochs=20)

Epoch 1/20
10/10 [==============================] - 1s 2ms/step - loss: 0.7209 - accuracy: 0.6111
Epoch 2/20
10/10 [==============================] - 0s 2ms/step - loss: 0.6120 - accuracy: 0.6671
Epoch 3/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5734 - accuracy: 0.6945
Epoch 4/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5584 - accuracy: 0.6940
Epoch 5/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5396 - accuracy: 0.7339
Epoch 6/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5417 - accuracy: 0.7446
Epoch 7/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5217 - accuracy: 0.7185
Epoch 8/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5338 - accuracy: 0.7167
Epoch 9/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5306 - accuracy: 0.7446
Epoch 10/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5408 - accuracy: 0.7283
Epoch 11/20
10/10 [==============================] - 0s 3ms/step - loss: 0.4810 - accuracy: 0.7879
Epoch 12/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5149 - accuracy: 0.7317
Epoch 13/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5067 - accuracy: 0.7501
Epoch 14/20
10/10 [==============================] - 0s 3ms/step - loss: 0.4981 - accuracy: 0.7464
Epoch 15/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5161 - accuracy: 0.7235
Epoch 16/20
10/10 [==============================] - 0s 3ms/step - loss: 0.5110 - accuracy: 0.7374
Epoch 17/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5112 - accuracy: 0.7427
Epoch 18/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5025 - accuracy: 0.7435
Epoch 19/20
10/10 [==============================] - 0s 2ms/step - loss: 0.5176 - accuracy: 0.7448
Epoch 20/20
10/10 [==============================] - 0s 2ms/step - loss: 0.4515 - accuracy: 0.7920

In [66]:
score=model.evaluate(x_test,y_test)

5/5 [==============================] - 0s 2ms/step - loss: 0.5826 - accuracy: 0.7208

In [67]:
cm=confusion_matrix(y_test,model.predict_classes(x_test))
print(cm)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

[[66 41]
 [ 2 45]]

In [68]:
print(cm[0,0])
print(cm[1,1])

66
45

In [69]:
(cm[0,0]+cm[1,1])/np.sum(cm)

0.7207792207792207